.data-show {
  &__detail {
    display: flex;

    padding: 8px;
    p {
      text-align: center;

      &:nth-child(1) {
        width: 15%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:nth-child(4) {
        width: 20%;
      }
      &:nth-child(5) {
        color: red;
      }
    }
    &:nth-child(2n) {
      background-color: #3a3d48;
    }
  }
}
