.data2 {
  background: rgb(47, 50, 64);

  padding-left: 15px;
  padding-right: 15px;
  margin: 1px;

  .select-check {
    padding-top: 15px;
    ul {
      list-style: none;

      display: flex;
      justify-content: space-between;

      li {
        display: flex;
        align-items: center;

        font-size: 0.9rem;
        input {
          margin-right: 3px;
        }

        label {
          font-size: 12.8px;
        }
      }
    }
  }

  .form {
    margin-top: 15px;

    .form-group {
      display: flex;
      align-items: center;

      margin-top: 10px;
      .label-title {
        flex: 1;

        font-size: 12.8px;
      }
      .input-value {
        padding: 8px;
        flex: 2;

        border-radius: 5px;
        border: none;
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;

        border: none;
        border-radius: 5px;

        padding: 10px;

        width: 110px;
        height: 30px;

        text-transform: uppercase;
        font-weight: 700;

        color: rgb(255, 255, 255);
      }
      .button--green {
        background: green;
      }
      .button--red {
        background: red;

        margin: 0 10px 0 10px;
      }
      .saveCommand {
        font-size: 14px;
      }
    }
  }
  .form-group--flexend {
    justify-content: flex-end;

    margin-bottom: 50px;
  }
  .saveCommand {
    display: flex;
    align-items: center;

    #saveCommand {
      margin-right: 3px;
    }
  }
}
